@import "../../../styles.scss";

.main-content {
    // padding:0 20px;
    @include main-content;

    .hero {
        position: relative;

        .image-content {
            width: 392px;
            min-height: 75pt;
            position: absolute;
            left: 50px;
            top: 50px;
            background-color: #fff;
            padding: 31px 29px;
            border-radius: 4px;

            h2 {
                font-weight: 700;
                font-size: 36px;
                margin-bottom: 20px;
            }

            p {
                padding: 0 29px 4px 0;

                a {
                    text-decoration: underline;
                }
            }

            button {
                @include button;
                margin: 0 29px 30px 0;

            }

            .muted-text {
                font-size: 12px;
            }

        }
    }

}

.modal {
    .modal-dialog {
        min-width: 150px;
        max-width: 574px;

        .modal-header {
            padding: 0;

            h2 {
                font-size: 24px;
                width: 100%;
                text-align: center;
                padding-bottom: 10px;
                width: 66.25%;
                line-height: 22px;
                margin: 2px auto 2px;
                padding-top: 45px;
                font-weight: 700;
            }

            span {
                position: absolute;
                top: 30px;
                right: 20px;
            }

            ;
        }

        .modal-body {
            font-size: 9pt;
            font-weight: 300;
            line-height: 14px;
            padding: 0 83.5px;
        }

        .modal-footer {
            padding-top: 27px;
            padding-right: 83.5px;
            padding-bottom: 46px;
            padding-left: 83.5px;
            justify-content: space-between;

            button {
                margin: 0;
                height: 3pc;
                width: 178px;
                @include button;
                &:first-child {
                    @include button-hover;
                }
            }
        }
    }

}

@media screen and (max-width:576px) {
    .modal .modal-dialog {
        .modal-body {
            padding: 0 30px;
        }

        .modal-footer {
            flex-direction: column;
            button {
                width: 150px;
                margin-top:20px;
            }
        }
    }
}


@media screen and (max-width:1050px) {
    .main-content .hero{
        .gift-card-hero-img{
           display:none;
        }
        .image-content{
            // border:1px solid $button-bg-color;
            position:relative;
            left:0;
            margin:auto;
            border-radius:10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
    }
}

@media screen and (max-width:390px) {
    .main-content .hero{
        .image-content{
            width:350px;
        }
    }
}

@media screen and (max-width: 512px){
    .main-content{
     padding-top:0;
    .title h1{
       font-size:40px;
       }
    .hero .image-content h2{
        font-size:32px;
    }
    }
}

@media screen and (max-width:991px){
    .main-content{
      padding-top:0;
      .title h1{
        padding-left:30px;
      }
  }
}