<div class="main-content">
    <div class="title d-flex justify-content-center">
      <h1>Arch Card®: McDonald’s <span>Gift Card</span></h1>
    </div>

    <div class="hero">
    <div class="gift-card-hero-img ">
        <img src="../../../assets/images/gift-card-hero-img.jpg" loading="lazy" alt="" class="img-fluid">
    </div>
    <div class="image-content">
       <h2>Hot Take: A Gift Card is the Best Gift</h2>
       <p>You can get one for yourself, too. There’s no judging here. For orders of 25 or more, please <a href="">buy in bulk</a>. *</p>
       <button type="button" class="btn card-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy a Gift Card</button>
       <p class="muted-text">
        <small class="text-muted ">*Shipping time may vary. </small>
      </p>
    </div>
   </div>

</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h2 class="modal-title" id="exampleModalLabel">Leaving McDonald's Web Site</h2>
          <span><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></span>
        </div>
        <div class="modal-body">
You are leaving McDonald’s to visit a site not hosted by McDonald’s. Please review the third-party’s privacy policy, accessibility policy, and terms.
 McDonald’s is not responsible for the content provided by third-party sites.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn cancel btn-secondary" data-bs-dismiss="modal">No, Continue</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>