
  <div class="main-content">
    <div class="title d-flex justify-content-center">
      <h1>McDonald's <span>App</span></h1>
    </div>

    <div class="card mb-3 px-2 "  *ngFor="let card of cards">
      <div class="row g-0 ">
        <div class="col-lg-8 image">
          <img [src]="card.img" loading="lazy" alt="Trendy Pants and Shoes" class="img-fluid px-3 " />
        </div>
        <div class="col-lg-4 body">
          <div class="card-body py-0 px-3">
            <h2 class="card-title">{{card.cardTitle}}</h2>
            <p class="card-text">
               {{card.cardText}}
            </p>
            <p class="muted-text">
              <small class="text-muted ">{{card.disclaimer}}</small>
            </p>
            <button type="button" class="btn card-btn">{{card.buttonText}}</button>
          </div>

        </div>
      </div>
    </div>
 

    <div class="disclaimer px-3">
      <h2>Deals and Much More</h2>
      <p>With the McDonald’s app, you’ll get access to exclusive deals. Use the app to order
        ahead and pass the line with Mobile Order & Pay plus join MyMcDonald’s
        Rewards to earn points on every order to redeem for free McDonald's.</p>
    </div>
  </div>
    