<div class="footer  px-3">
    <div class="footer-items d-flex justify-content-between">
      <div class="footer-item  ">
        <h2>About Us</h2>
        <ul>
          <li><a>About Us Overview</a></li>
          <li><a>Our History</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h2>About Us</h2>
        <ul>
          <li><a>About Us Overview</a></li>
          <li><a>Our History</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h2>About Us</h2>
        <ul>
          <li><a>About Us Overview</a></li>
          <li><a>Our History</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h2>About Us</h2>
        <ul>
          <li><a>About Us Overview</a></li>
          <li><a>Our History</a></li>
        </ul>
      </div>
    </div>



    <div class="social-media d-flex">
      <div class="sites d-flex">
        <a href="">
          <div class="image">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </div>
        </a>
        <a href="">
          <div class="image">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </div>
        </a>
        <a href="">
          <div class="image">
            <fa-icon [icon]="faYoutube"></fa-icon>
          </div>
        </a>
        <a href="">
          <div class="image">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </div>
        </a>
      </div>
      <div class="downloads d-flex">
        <a href="">
          <div>
            <img src="../../assets/images/app_store_badge.png">
          </div>
        </a>
        <a href="">
          <div>
            <img src="../../assets/images/google_play_badge.png">
          </div>
        </a>
      </div>
    </div>

    <hr>

    <div class="additional-footer-items d-flex justify-content-between">
      <div class="additional-footer-item">
        <div class="list">
          <ul>
            <li>Privacy(Updated)</li>
            <li>California Privacy Notice</li>
            <li>Terms & Conditions</li>
            <li>Accessibility</li>
            <li>Do Not Sell or Share My Personal Information </li>
            <li>Cookies Settings</li>
          </ul>
        </div>
      </div>
      <div class="d-flex">
        <div class="image me-lg-5">
          <img src="../../assets/images/logo.jpg" height="28px">
        </div>
        <div class="copyrights">
          <p>&#169;2017-2023 McDonald's.All Rights Reserved</p>
        </div>
      </div>


    </div>



  </div>