@import '../../../styles.scss';

.navbar {
    box-shadow: none;

    .collapse {
        flex-direction:column;
        .nav-item {
            padding-right: 25px;
            font-size: 1pc;
            #change-location{
                text-decoration:underline;
                color:rgb(0, 93, 199);
            }
            button{
                @include button;
                padding:8px 25px;
                line-height: 24px;
                p{
                    animation:animate 5s infinite;
                    margin:0;
                    &:hover{
                        animation-name: animate;
                        animation-play-state: paused;
                    }
                }
               
              
            }
            a{
                transition: font-size 0.1s ease-out;
                padding-left: 0;
                padding-right:0;
                padding-bottom:23px;
               
            }
            a:focus{
                font-weight: 700;
            }
         
        }
        // .main-navbar a{
        //     position: relative;
        //     &::before{
        //         background: #d90007  none repeat scroll 0 0;
        //         bottom: -2px;
        //         content: "";
        //         height: 3px;
        //         left: 0;
        //         position: absolute;
        //         width: 0%;
        //         transition: 0.5s;
        //     }
        //     &:focus::before{
        //         width: 100%;
        //     }
            
        // }
    }
}

@media screen and (max-width:1140px){
     .navbar .collapse .nav-item{
        font-size:14px;
        padding-right:18px;
    }
}

@media screen and (min-width:992px){
 .main-navbar a{
    position: relative;
    &::before{
        background: #d90007  none repeat scroll 0 0;
        bottom: -2px;
        content: "";
        height: 3px;
        left: 0px;
        position: absolute;
        transition: 0.5s;
        transform:scaleX(0)
    }
    &:focus::before{
        width: 100%;
        transform:scaleX(1);
    }
    
}
}